body {
    counter-reset: section;
}
h3::before {
    counter-increment: estrofa;
    content: "" counter(estrofa) ": ";
}

p::before {
    counter-increment: section; 
    content: "Verso: " counter(section) ": "; 
    color: red;
}