body {
    counter-reset: section estrofa;
}

h1 {
    font-size: 30px;
}

h3::before {
    counter-increment: estrofa;
    content: "" counter(estrofa) "º ";
}

p::before {
    counter-increment: section; 
    content: "Verso: " counter(section) " "; 
    color: red;
}